[defaults]
inventory = localhost,
connection = local
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
collections_path = ~/.ansible/collections
deprecation_warnings = False
system_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
